extends ../component/layout
block title
    title api 
      
block content
  h1 api orderCreate
    .col
      form(action="/api" method='post')
        label(for='name') Name + Preis:
        //- #inputFields
        input(name='name' type='text')
        label(for='price')
        //- #inputFields
        input(name='price' type='number' placeholder=lastName)
        input.btn(type='submit' value='Submit' placeholder=lastPrice) 
      form(action='/api' method='get')
        input.btn(type='submit' value='get')
        p Antwort:
        table(style='width:100%', border='1')
          tr
            th Id
            th Name
            th Price
            th Empfänger
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient} 