extends ../component/layout
block title
    title api 
      
block content
  h1 api orderCreate
    .col
      form(action="/api" method='post')
        label(for='name') Name + Preis:
        //- #inputFields
        input(name='name' type='text' placeholder=lastName)
        label(for='price')
        //- #inputFields
        input(name='price' type='number' placeholder=lastPrice)
        input.btn(type='submit' value='Submit') 
      form(action='/api' method='get')
        input.btn(type='submit' value='get')
        p Antwort:
          pre=JSON.stringify(result)
        table(style='width:100%', border='1')
          tr
            th Id
            th Name
            th Price
            th Empfänger
          tr
            th
              a(href=`http://localhost:3000/api/`+'123') 123
            td obj.lastName
            td #obj.lastPrice
            td #{obj}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient}
          tr
            th #{lastId}
            td #{lastName}
            td #{lastPrice}
            td #{lastRecipient} 